@charset "utf-8";
/* CSS Document */
body,ul,li,p,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,div{ margin:0; padding:0},
body{ font-size:12px; line-height:1.7em; color:#666;}
ul{ list-style:none}
img{ border:none}
a{text-decoration:none;}
a:hover {text-decoration:none;}
.fl{ float:left}
.fr{ float:right}

.center{ width:1000px; margin:0 auto;}
a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
.clearfix:after{
   content:".";/*加一段内容*/
   display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
   height:0;/*避免生成的内容破坏原有布局高度*/
   clear:both;/*清除浮动*/
   visibility:hidden;/*让生成的内容不可见*/
  }
 .clearfix{zoom:1;/*为IE6，7的兼容性设置*/}



header{width: 100%;height: 172px;}
header .top{width: 1349px;height: 30px;background: #000;color: #999;font-size: 0.8rem;}
header .top a{color: #999;}
header .top a:hover {color: #fff;}
header .top div:first-child{width: 457px;height: 30px;text-align: center;line-height: 27px;margin-left: 118px;}
header .top div:first-child ul{width: 457px;height: 30px;}
header .top div:first-child li{width: 96px;height: 30px;}
header .top div:last-child{width: 674px;height: 30px;text-align: center;line-height: 27px;margin-right: 78px}
header .top div:first-child ul{width: 457px;height: 30px;}
header .top div:last-child li{width: 94.36px;height: 30px;}

header .top div:last-child li:nth-child(3) ul{width: 103px;height: 287px;background: #fff;border: 1px solid #ccc;position: absolute;z-index: 1000;display: none;}
header .top div:last-child li:nth-child(3) ul li{margin-left: 10px; width: 80px;height: 34px;line-height: 35px;}
header .top div:last-child li:nth-child(3) ul li a:hover{color: #FF1E32;}
header .top div:last-child li:nth-child(3):hover ul{display:block;}


header .top div:last-child li:nth-child(3) ul li:nth-child(3){border-bottom: 1px solid #ccc;}
header .top div:last-child li:nth-child(3) ul li:nth-child(5){border-bottom: 1px solid #ccc;}
header .top div:last-child li:nth-child(3) li:nth-child(7){border-bottom: 1px solid #ccc;}

header .top div:last-child li:nth-child(4) ul{width: 103px;height: 74px;background: #fff;border: 1px solid #ccc;position: absolute;z-index: 1000;display: none;}
header .top div:last-child li:nth-child(4) ul li{width: 103px;height: 34px;line-height: 35px;}
header .top div:last-child li:nth-child(4) ul li a:hover{color: #FF1E32;}
header .top div:last-child li:nth-child(4):hover ul{display:block;}

header .top div:last-child li:nth-child(5) ul{width: 103px;height: 107px;background: #fff;border: 1px solid #ccc;position: absolute;z-index: 1000;display: none;}
header .top div:last-child li:nth-child(5) ul li{width: 103px;height: 34px;line-height: 35px;}
header .top div:last-child li:nth-child(5) ul li a:hover{color: #FF1E32;}
header .top div:last-child li:nth-child(5):hover ul{display:block;}

header .top div:last-child li:nth-child(6) ul{width: 103px;height: 74px;background: #fff;border: 1px solid #ccc;position: absolute;z-index: 1000;display: none;}
header .top div:last-child li:nth-child(6) ul li{width: 103px;height: 34px;line-height: 35px;}
header .top div:last-child li:nth-child(6) ul li a:hover{color: #FF1E32;}
header .top div:last-child li:nth-child(6):hover ul{display:block;}

header .top div:last-child li:nth-child(7) ul{width: 103px;height: 211px;background: #fff;border: 1px solid #ccc;position: absolute;z-index: 1000;display: none;}
header .top div:last-child li:nth-child(7) ul li{margin-left: 10px; width: 80px;height: 34px;line-height: 35px;}
header .top div:last-child li:nth-child(7) ul li a:hover{color: #FF1E32;}
header .top div:last-child li:nth-child(7):hover ul{display:block;}

header .top div:last-child li:nth-child(7) ul li:nth-child(1){border-bottom: 1px solid #ccc;}
header .top div:last-child li:nth-child(7) ul li:nth-child(4){border-bottom: 1px solid #ccc;}
header .top div:last-child li:nth-child(7) ul li:nth-child(5){border-bottom: 1px solid #ccc;}

header .down{width: 1349px;height: 142px;}
header .down .Categories1{width: 1349px;height: 100px;}
header .down .Categories1 div{width: 472.14px;height: 100px;text-align: center;}
header .down .Categories1 div img{margin-top:12px;}




main{width: 100%;}
.shoppingcart-top{width: 1090px;height: 36px;margin: 0 auto;line-height: 36px;font-size: 13px;}
.shoppingcart-top .s1{font-weight: bold;}

.shoppingcart-all{width: 1090px;height: 36px;margin: 0 auto;line-height: 36px;border: 1px solid #EAEAEA;box-sizing:border-box;}
.shoppingcart-all p{float: left;padding-left: 20px;font-size: 13px;color: #999999;}
.shoppingcart-all p:nth-child(1){width: 120px;height: 36px;color: #000;}
.shoppingcart-all p:nth-child(2){width: 220px;height: 36px;}
.shoppingcart-all p:nth-child(3){width: 141px;height: 36px;}
.shoppingcart-all p:nth-child(4){width: 140px;height: 36px;}
.shoppingcart-all p:nth-child(5){width: 120px;height: 36px;}
.shoppingcart-all p:nth-child(6){width: 95px;height: 36px;}
.shoppingcart-all p:nth-child(7){width: 112px;height: 36px;}
/* 一家店里的商品 */
.introduction{width: 1090px;height: 35px;margin: 0 auto;line-height: 36px;font-size: 13px;margin-top: 25px;}
.introduction .Self-employed1{padding-left: 20px;}
.introduction .Self-employed1 span{background: #000;color: #fff;border-radius: 3px;}
.introduction .Self-employed2{padding-left: 5px;font-weight: bold;}

.watch{width: 1090px;height: 123px;margin: 0 auto;border: 1px solid #EAEAEA;box-sizing:border-box;}
.watch div{float: left;padding-left: 20px;}
.watch div:nth-child(1){width: 120px;height: 123px;}
.watch div:nth-child(1) p{margin-top: 50px;float: left}
.watch div:nth-child(1) img{margin-top: 20px;float: left;margin-left: 10px;}


.watch div:nth-child(2){width: 220px;height: 123px;overflow: hidden;}
.watch div:nth-child(2) .con1{width: 220px;height: 30px;display: block;float: left;font-size: 10px;margin-top: 20px;}
.watch div:nth-child(2) .con2{width: 220px;height: 60px;display: block;float: left;font-size: 10px;margin-top: 10px;color: #999;}

.watch div:nth-child(3){width: 141px;height: 123px;font-size: 10px;color: #999;}
.watch div:nth-child(3) .p1{margin-top: 20px;}

.watch div:nth-child(4){width: 110px;height: 123px;font-size: 10px;}
.watch div:nth-child(4) .p1{margin-top: 20px;}
.watch div:nth-child(4) del{color: #999;}

.watch div:nth-child(5){width: 150px;height: 123px;}
.watch div:nth-child(5) input{width: 30px;margin: 20px 0 0 0;}


.watch div:nth-child(6){width: 95px;height: 123px;font-size: 10px;}
.watch div:nth-child(6) p{margin-top: 20px;font-weight: bold;}

.watch div:nth-child(7){width: 112px;height: 123px;font-size: 10px;}
.watch div:nth-child(7) .p1{margin-top: 20px;}
.watch div:nth-child(7) p a{color: #000;}
.watch div:nth-child(7) p a:hover{text-decoration: underline;}

.settleaccounts{width: 1090px;height: 35px;margin: 0 auto;border: 1px solid #EAEAEA;box-sizing:border-box;border-top: none;}
.settleaccounts ul{width: 500px;height: 35px;line-height: 30px;}
.settleaccounts ul li{width: 165px;height: 35px;float: left;font-size: 10px;}
/* 总价 */
.total{width: 1090px;height: 80px;margin: 25px auto;border: 1px solid #EAEAEA;box-sizing:border-box;background: #F8F8F8;}
.total .left{width: 200px;height: 80px;font-size: 13px;line-height: 80px;}
.total .left input{margin-top: 34px;float: left;margin-left: 25px;}
.total .left a{color: #333333;}
.total .left span{margin-left: 10px;display: block;float: left;}


.total .right{width: 700px;height: 80px;}
.total .right1{width: 535px;height: 80px;font-size: 12px;}
.total .right1 .p1{width: 535px;height: 40px;text-align: right;line-height: 54px;}
.total .right1 .p2{width: 535px;height: 40px;text-align: right;color: #999;}
.total .right1 .p2 span{margin-left: 20px;}

.total .right2{width: 140px;height: 55px;background: #ccc;margin-left: 25px;font-size: 23px;color: #fff;text-align: center;padding-top: 25px;}
.total .right2:hover{background: rgb(233, 28, 28);}
/* 最佳搭配 */
.Bestmatch{width: 1090px;height: 60px;margin: 0 auto;line-height: 55px;}
.Bestmatch p{font-size: 20px;font-weight: bold;}
.Bestmatch p span{font-size: 14px;color: #999;margin-left: 10px;font-weight: normal;}
/* 商品 */
.Bestmatchcommodity{width: 1120px;height: 306px;margin: 0 auto;}
.Bestmatchcommodity ul{width: 1120px;height: 306px;}
.Bestmatchcommodity ul li{width: 207px;height: 306px;border: 1px solid #EAEAEA;box-sizing:border-box;margin-left: 14px;float: left;} 
.Bestmatchcommodity ul li img{width: 205px;height: 190px;}
.Bestmatchcommodity ul li .p1{width: 180px;height: 43px;margin-left: 12px;}
.Bestmatchcommodity ul li a{font-size: 12px;color: #000;}
.Bestmatchcommodity ul li .p2{width: 180px;height: 25px;margin-left: 12px;font-weight: bold;color: #E31436;line-height: 32px;}
.Bestmatchcommodity ul li .p2 span{font-size: 12px;color: #999;margin-left: 5px;font-weight: normal;}
.Bestmatchcommodity ul li .p3{width: 180px;height: 20px;margin-left: 12px;}
.Bestmatchcommodity ul li .p3 a{color: #999;}
.Bestmatchcommodity ul li a:hover{text-decoration: underline;}







footer{width: 100%;}
/* footer .top{width: 1349px;height: 410px;}
footer .top div:first-child{width: 100%;height: 147px;}
footer .top div:first-child ul{width: 80%;height: 147px;margin: 0 auto;}
footer .top div:first-child li{width: 24%;height: 147px;margin-left: 10px;}
footer .top div:first-child li p:nth-child(1){width: 50px;height: 50px;border-radius: 60px;border: 2px solid #D6D6D6;font-size: 1.2rem;font-weight: bold;line-height: 47px;margin-top: 45px;text-align: center;margin-right: 10px;}
footer .top div:first-child li p:nth-child(2){font-weight: bold;font-size: 1.2rem;margin-top: 45px;}
footer .top div:first-child li p:nth-child(3){font-size: 1rem;}



footer .top div:last-child{width: 82%;height: 225px;margin: 0 auto;border-top: 1px solid #ccc;}
footer .top div:last-child div:nth-child(1){width: 20%;height: 225px;}
footer .top div:last-child div:nth-child(1) p{width: 222px;height: 50px;background: url(../images/logo1.png) no-repeat;margin-top: 45px;}
footer .top div:last-child div:nth-child(1) ul{width: 222px;height: 50px;margin-top: 10px;}
footer .top div:last-child div:nth-child(1) ul li:first-child{width: 67px;height: 45px;padding-top: 5px;}
footer .top div:last-child div:nth-child(1) ul li:last-child{width: 135px;height: 50px;}
footer .top div:last-child div:nth-child(1) ul li:last-child img{margin-left: 9px;}

footer .top div:last-child div:nth-child(2){width: 64%;height: 225px;}
footer .top div:last-child div:nth-child(2) dl{width: 15%;height: 225px;margin-left: 33px;margin-top: 41px;}
footer .top div:last-child div:nth-child(2) dt{font-size: 1.2rem;}
footer .top div:last-child div:nth-child(2) dd{margin-top: 8px;}
footer .top div:last-child div:nth-child(2) dd a{color: #000;font-size: 0.5rem;}
footer .top div:last-child div:nth-child(2) dd a:hover{text-decoration: underline;}

footer .top div:last-child div:nth-child(3){width: 16%;height: 225px;margin-top: -1px;}
footer .top div:last-child div:nth-child(3) div{width: 122px;height: 122px;border: 1px solid #ccc;margin-top: 41px;padding-left: 5px;padding-top: 5px;}
footer .top div:last-child div:nth-child(3) p{width: 100%;height: 40px;padding-left: 9px;margin-top: 2px;}
 */
footer .down{width: 1349px;height: 152px;background: #333333;color: #ADADAD;margin-top: 80px;}
footer .down p a{color: #ADADAD;}
footer .down p a:hover{text-decoration: underline;}
footer .down p:nth-child(1){text-align: center;padding-top: 25px;}
footer .down p:nth-child(2){text-align: center;padding-top: 7px;}
footer .down p:nth-child(3){text-align: center;padding-top: 7px;}
footer .down ul{width: 100%;height: 32px;padding-top: 7px;}

footer .down ul li:nth-child(1){width: 96px;height: 35px;margin-left: 522px;}
footer .down ul li:nth-child(1) a img{width: 100%;height: 100%;}
footer .down ul li:nth-child(2){width: 96px;height: 35px;margin-left: 20px;}
footer .down ul li:nth-child(2) a img{width: 100%;height: 100%;border-radius: 5px;}
footer .down ul li:nth-child(3){width: 35px;height: 35px;margin-left: 20px;}
footer .down ul li:nth-child(3) a img{width: 100%;height: 100%;}







